* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(47, 44, 66);
    color: rgb(202, 202, 202);
    padding-right: 2rem;
    padding-left: 2rem;
}

main {
    text-align: center;
}

h1 {
    margin: 3rem 0rem 1.5rem 0rem;
    font-size: 4rem;
}

.button-box {
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.button-box > * {
    display: inline-block;
    height: 4.5rem;
    width: 10rem;
    font-size: 2.2rem;
}

.bookmark {
    border: .1rem solid darkgray;
    padding: .5rem;
}

.container {
    border: .2rem solid black;
    background-color: rgb(202, 202, 202);
    color: black;
}

.new-container {
    border: .2rem solid black;
    background-color: rgb(202, 202, 202);
    color: black;
    padding: 0rem 2.5rem 1.5rem 2.5rem;
}

.bottom-margin {
    margin-bottom: 1.6rem;
}

.left {
    text-align: left;
}

.title-bar {
    font-size: 2rem;
    margin-bottom: .4rem;
    margin-top: .4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.fa-trash-o {
    font-size: 2.4rem;
    margin-left: 1rem;
    color: rgb(206, 5, 5);
}

h2 {
    font-size: 3.5rem;
}

form > * {
    display: block;
    font-size: 2rem;
}

#new-submit {
    margin: auto;
    margin-top: 1.6rem;
    width: 10rem;
    height: 4rem;
}

.fa-star {
    font-size: 1.6rem;
}

.checked {
    color: goldenrod;
  }

.expanded {
    position: relative;
    padding: .5rem;
    margin-top: .7rem;
    font-size: 2rem;
    background-color: white;
}

#edit-item {
    position: absolute;
    top: .3rem;
    right: .3rem;
}

.expanded > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#visit-site-button > * {
    display: inline-block;
    height: 3.5rem;
    width: 10rem;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.hidden {
    display: none;
}