* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #2F4454;
    color: rgb(225, 236, 207);
    padding-right: 2rem;
    padding-left: 2rem;
}

main {
    text-align: center;
}

h1 {
    margin: 3rem 0rem 1.5rem 0rem;
    font-size: 4rem;
}

.button-box {
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.button-box > * {
    display: inline-block;
    height: 4.5rem;
    width: 11rem;
    font-size: 2.2rem;
    color: rgb(225, 236, 207);
    background-color: rgb(65, 29, 38);
    border: 1px solid #DA7B93;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem black;
    cursor: pointer;
}

.bookmark {
    border: .1rem solid #1C3334;
}

.container {
    margin-bottom: 1.5rem;
    padding: 0rem;
    border: .2rem solid black;
    border-radius: .5rem;
    background-color: #376E6F;
}

.new-container {
    padding: 0rem;
    border: .2rem solid black;
    border-radius: .5rem;
    background-color: #376E6F;
}

main > .new-container {
    max-width: 286px;
    margin: auto;
    border: .2rem solid black;
    border-radius: .5rem;
    background-color: #376E6F;
}

legend {
    display: block;
}

legend > h2 {
    margin: 2rem 0rem 1rem 0rem;
}

fieldset {
    border: 0;
}

fieldset > h3 {
    margin: 0rem 0rem 1rem 0rem;
    color: rgb(34, 34, 34);
}

.stars-container {
    min-width: 10rem;
}

.confirm-cancel-buttons > *{
    cursor: pointer;
}

.bottom-margin {
    margin-bottom: 1.6rem;
}

.left {
    text-align: left;
}

.title-bar {
    font-size: 2rem;
    padding: .9rem .5rem .9rem .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.title-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title-bar_no-list {
    border: .1rem solid #1C3334;
    font-size: 2rem;
    padding: .9rem .5rem .9rem .5rem;
    width: 100%;
    cursor: default;
}

h2 {
    font-size: 3.5rem;
}

form > * {
    display: block;
    font-size: 2rem;
}

.confirm-cancel-buttons > * {
    margin-top: 1.4rem;
    width: 10rem;
    height: 4rem;
}

.fa-star {
    font-size: 1.6rem;
    color: rgb(56, 56, 56);
}

.checked {
    color: rgb(104, 16, 36);
  }

.expanded {
    position: relative;
    padding: .5rem;
    font-size: 2rem;
    background-color: #1C3334;
}

.expanded > p {
    margin-top: .5rem;
    margin-bottom: 0rem;
    color: rgb(225, 236, 207);
}

.expanded-buttons {
    margin: .5rem 0rem .5rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.expanded-buttons > * {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 2.3rem;
    color: rgb(225, 236, 207);
    background-color: rgb(65, 29, 38);
    border: 1px solid #DA7B93;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem black;
    cursor: pointer;
}

.fa-trash-o {
    padding: .3rem .5rem .4rem .5rem;
    margin-left: 1rem;
}

.edit-item {
    line-height: 2.5rem;
    padding-bottom: .2rem;
    height: 3rem;
}

.adding-rating > * {
    cursor: pointer;
}

.visit-site-button {
    height: 3.5rem;
    width: 11rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.error-box {
  position: relative;
  color: black;
  background-color: red;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: bold;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .5rem black;

}

.error-box * {
  display: inline-block;
}

#close-button {
  position: absolute;
  display: block;
  font-size: 1rem;
  padding: 0.1rem .1rem 0rem 0rem;
  height: 1.5rem;
  width: 1.5rem;
  top: .2rem;
  right: .2rem;
}

.hidden-buttons, .hidden, .expand-further {
    display: none;
}

@media screen and (min-width: 400px) {
    .title-bar {
        cursor: default;
    }

    .bookmark > .hidden, .expand-further {
        display: block;
    }
    
    .bookmark {
        border: 1px solid black;
    }

    .overflow {
        max-height: 10rem;
    }

    .expanded > p {
        overflow: hidden;
        line-height: 2.2rem;
        text-align: justify;  
   }

   .expand-further {
      background-color: rgb(65, 29, 38);
      cursor: pointer;
      border-radius: .5rem;
   }

  .expand-further > p {
      margin: .5rem 0rem .5rem 0rem;
      padding: .8rem 0rem .8rem 0rem;
      text-align: center;
  }
}

@media screen and (min-width: 620px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .bookmark {
        width: 50%;
        min-height: 30rem;
    }

    .overflow {
        max-height: none;
        height: 15.8rem;
    }
}

@media screen and (min-width: 800px) {
    section > .bookmark {
        width: 33.33%;
    }
}